table{
    text-align: center;
}
.check_input {
    margin: 3rem 0 3rem 0;
}

.text_cart {
    margin: 3rem 0 3rem 0;
    font-size: 1.4rem;
}

.text_unit {
    margin: 3rem 0 3rem 0;
    font-size: 1.4rem;
}

.ip_erase {
    margin: 3rem 0 3rem 0;
}
.img-thumbnail{
    margin: 1rem 0 1rem 0;
}

.input-container {
    display: flex;
    margin: 3rem 0 3rem 0rem;
}
.bi-plus-circle-dotted::before {
    content: none;
}
/* Chrome, Safari, Edge, Opera */
.input-container input::-webkit-outer-spin-button,
.input-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input-container input[type=number] {
    -moz-appearance: textfield;
}



.input-container button {
    width: 2.5rem;
    background-color: #ffffff;
    color: #BF1932;
    border: none;
    cursor: pointer;
    margin: 0 0.5rem 0 0;
}

.input-container input {
    width: 5rem;
    height: 3rem;
    text-align: center;
    border: none;
    margin: 0 0.3rem 0 0;
    font-size: 1.4rem;
    color: #000000;
}

.input-container button:focus,
.input-container input:focus {
    outline: none;
}