@font-face {
    font-family: avoFont;
    src: url(/font/Avo.ttf);
}
@font-face {
    font-family: avoBoldFont;
    src: url(/font/AvoBold.ttf);
}
header,footer{
    font-family: "roboto";
    word-wrap: normal;
}
.foot {
    position: relative;
    background-image: url(../img/anhfooter.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: whitesmoke;
}
.foot::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 4, 0, 0.9);
    z-index: 1;
}
.content {
    position: relative;
    z-index: 2;
}
.logofoot{
    width: 10rem;
    height: auto;
    padding: 0 0 0 0;
}
.tab {
    display: flex;
    align-items: center;

}
.foot .tel {
    color: #ffda00 !important;
}
.foot a {
    text-decoration: none;
    font-size: 1rem;
    color: #bfbfbf;
    line-height: 1.3;
    
}
.foot p {
    color: #bfbfbf;
    font-size: 1rem;
}
.rowbackground{
    background-color: #ffb300;
    height: 3.5rem;
}
.rowbackground .col-md-6{
    color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0.45rem 0;
}
.rowbackground .rowfooter{
    flex:auto;
}
.rowbetween, footer .col-10{
    display: flex;
    flex-direction: center;
    justify-content: center;    
}
.rowbetween p {
    font-size: 0.8rem;
    margin-bottom: 0;
    display: inline-flexbox;
    padding-left: 1rem;
}
.footer-icon {
height: 2.6rem;
}
.voucher-container {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 2rem;
}
.voucher-container p {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.voucher-button {
    display: inline-block;
    background-color: #fff400;
    color: #9c0920;
    font-weight: bold;
    font-size: 3vw;
    padding: 0 5rem 0.4rem 5rem ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    font-family: avoBoldFont;
    scale:70%;
}

.voucher-button::before,
.voucher-button::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    transform: translateY(-50%) scale(1.5);
    animation: blink 0.5s infinite;
}

.voucher-button::before {
    left: -2vw; /* Đặt lại vị trí bắt đầu và cách xa nút bấm */
    border-width: 1.3vh 1.3vw; /* Thay đổi kích thước tam giác */
    border-color: transparent transparent transparent #66ff66;
}

.voucher-button::after {
    right: -2vw; /* Đặt lại vị trí bắt đầu và cách xa nút bấm */
    border-width: 1.3vh 1.3vw; /* Thay đổi kích thước tam giác */
    border-color: transparent #66ff66 transparent transparent;
    animation: blink-right 0.5s infinite;
}

p {
    font-size: 2.5vh;
}

@keyframes blink {
    0% {
        border-color: transparent transparent transparent #66ff66;
    }
    25% {
        border-color: transparent transparent transparent #ff0000;
    }
    50% {
        border-color: transparent transparent transparent #0000ff;
    }
    75% {
        border-color: transparent transparent transparent #ffcc00;
    }
    100% {
        border-color: transparent transparent transparent #66ff66;
    }
}

@keyframes blink-right {
    0% {
        border-color: transparent #66ff66 transparent transparent;
    }
    25% {
        border-color: transparent #ff0000 transparent transparent;
    }
    50% {
        border-color: transparent #0000ff transparent transparent;
    }
    75% {
        border-color: transparent #ffcc00 transparent transparent;
    }
    100% {
        border-color: transparent #66ff66 transparent transparent;
    }
}

.clms {
    padding-top: 3rem;
}
.infofooter{
    line-height: 2;
}
footer h4{
    padding-bottom: 2rem;
}
.clms .sepa {
    line-height: 2;
    padding: 0 0;
    border-left: 1px solid rgba(191,191,191,.3);
    border-right: 1px solid rgba(191,191,191,.3);
}
.map-container{
    height: 14rem;
}
.map-container iframe {
    width: 85%;
    height: 100%;
}