#popupdangnhap .body_login {
    background-color: rgb(207, 196, 196);
    width: 100%;
    margin: auto;
}

#popupdangnhap .login_field {
    padding: 10px 0px;	
    position: relative;	
}

#popupdangnhap .login_icon {
    right: 40px;
    position: absolute;
    top: 23px;
    font-size: 26px;
    color: rgb(0 0 0 / 78%);
}

#popupdangnhap .login_input {
    margin: auto;
    padding: 16px;
    width: 90%;	
    border: 1px solid black;
    box-shadow: 1px 1px black;
}
#popupdangnhap p ins {
    margin-right: 260px;
}

#popupdangnhap ins {
    font-size: 13px;
}

#popupdangnhap a {
    color: black;
    text-decoration: none
}

#popupdangnhap .btn_google , .btn_facebook {
    width: 80%;
    border: 1px solid black;
    box-shadow: 1px 1px black;
}

#popupdangnhap .btn_register {
    background-color: #F5F5F5;
    height: 70px;
}

#popupdangnhap .thumbnail {
    color:white;
}

#popupdangnhap .thumbnail_img {
    width: 8rem;
    height: auto;
}

