.body_register {
    background-color: rgb(207, 196, 196);
    width: 30%;
    margin: auto;
}

.register_field {
    padding: 10px 0px;	
    position: relative;	
}

.register_icon {
    right: 40px;
    position: absolute;
    top: 23px;
    font-size: 26px;
    color: rgb(0 0 0 / 78%);
}

.register_input {
    margin: auto;
    padding: 16px;
    width: 90%;	
    border: 1px solid black;
    box-shadow: 1px 1px black;
}
p ins {
    margin-right: 260px;
}

ins {
    font-size: 13px;
}

a {
    color: black;
    text-decoration: none
}

.form-check {
    margin-left: 28px;
    width: 90%;
}

.form-check-input {
    padding: 10px 10px;
}

.btn_google ,.btn_facebook {
    width: 80%;
    border: 1px solid black;
    box-shadow: 1px 1px black;
}

.btn_login {
    background-color: #F5F5F5;
    height: 70px;
}

.thumbnail {
    background-color: rgb(207, 196, 196);
}

.thumbnail_img {
    width: 15%;
}