

.boxsanpham {
    border: 4px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
 .row .box p{
    display: inline-block;
}
.iconsanpham p{
    display: inline;
    padding: 0;
    font-size: small;
}
.col-4{
    padding-left: 50px;
}

/* .sanpham{
    text-align: center;
} */
.td{
    width: 2.8rem;
}
.iconsanpham {
    display: inline;
    
}
.noidungsanpham p{
    text-align: center;
}
.giasanpham p{
    display: inline-block;
    text-align: center;
    margin-bottom: 1px;
    
}
.col-4{
    margin-bottom: 20px;
    
}
.col-3 .col-3 .anhvua1{
    width: 100%;
}
.chuyenpage{
    padding-left: 8rem;
}
.page-item a{
    color: blue;
    text-decoration-line: none;
    padding: 5px;
}
.xemthem{
    margin: 1% 0 0 0;
    font-size:80%;
    display:inline-block;
    float:right;
}
.xemthem a{
    text-decoration-line: none;
    color:black;
}
.xemthem a:hover {
    color: rgb(205,77,77);
    padding: 5px;
}
.page-item{
    font-size:80%;
}

