.img-fluid{
    width: 100%;
}
.line {
    display:inline-block;
    color:white;
    background-color: rgb(205,77,77);
    padding: 0.3rem;
    margin: 0 15px 0 0;
    float:left;
}
.marg{
    margin-top: 2rem;
}
.form-select{
    color: #c1c1c1;
    width: 20%;
    display: inline-block;
    border:  1px solid #c1c1c1;
    border-radius: 100px;
    float: left;
    margin: 0.3rem 0 auto 0;
}
nav{
    display: inline-block;
}
.anhto{
    height: 49rem;
}
.anhvua{
    height:24.4rem;
}
.pagination{
    font-size:0.8rem;
    margin: 0.7rem auto 0 1rem;
}

.page-item a{
    color: #c1c1c1;
    text-decoration-line: none;
    padding: 5px;
}
.page-item a:hover, a.on{
    color: rgb(205,77,77);
    padding: 5px;
}
.xemthem{
    font-size:80%;
    float: right;
    padding: 1.1rem;
}
.xemthem a{
    text-decoration-line: none;
    color:black;
}
.xemthem a:hover {
    color: rgb(205,77,77);
    padding: 5px;
}
.btn p, .btn p:hover{
    display:inline;
    color:rgb(205,77,77);
}
.btn:hover{
    background-color: white;
    color:#c1c1c1;
}

.mota p{
    display:inline;
    font-size: 14px;
}
.mota{
    margin: 0 0 0.6rem 0;
}
.btn-border{
    font-size: 20px;
    padding-left: 4rem;
    padding-right: 4rem;
    border:1px solid white;
    border-radius: 100px;
    box-shadow: 0 0 0 1px rgb(205,77,77), 0 0 0 0 rgb(205,77,77), 0 0 0 0 rgb(205,77,77);
}
.btn-border:hover{
    background-color: rgb(158, 4, 4);
}
.btn-tuvan{
    padding-left:5rem;
    padding-right:5rem;
}
.tag{
    float:left;
    margin: 1.5rem 0 0 0;
}
.tag a{
    color: rgb(255, 208, 0);
    text-decoration-line: none;
}
.float-right{
    float:right;
    padding: 1.1rem;
}
.float-right a{
    margin: 0 1rem 0 0;
}
.btn-float-right{
    float: left;
    margin: 6rem 0 0 0;
    background-color: transparent;
    border: 2px solid #ffffff
}
.btn-float-left{
    float:right;
    margin: 6rem 0 0 0;
    background-color: transparent;
    border: 2px solid #ffffff
}
.carousel-inner img{
    margin: 1rem auto 0 auto;
    width: 21.8rem;
}
.carousel-inner{
    margin: 0 0 0 0;
}
.popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}